{% extends 'base.html' %}

{% block title %} Alterar Senha {% endblock %}

{% block title_content %} Alterar Senha {% endblock %}

{% block content %}

    <form action="{% url 'change-password' %}" method="POST">
      {% csrf_token %}
      <div class="card-body col-md-4">
        <div class="form-group">
          <label for="currentpassword">Senha Atual</label>
          <input type="password" class="form-control" id="currentpassword" placeholder="Insira sua senha atual" name="currentpassword" value="{{ form.currentpassword }}">
        </div>
        <div class="form-group">
          <label for="newpassword">Nova Senha</label>
          <input type="password" class="form-control" id="newpassword" placeholder="Insira a nova senha" name="newpassword" value="{{ form.newpassword }}">
        </div>
        <div class="form-group">
            <label for="newpassword2">Confirme a nova Senha</label>
            <input type="password" class="form-control" id="newpassword2" placeholder="Redigite a nova senha" name="newpassword2" value="{{ form.newpassword2 }}">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>

{% endblock %}